.ck-editor__editable {
  min-height: 100px;
}
.input-image {
  display: none;
}
.product_img-add {
  width: 100px;
}

.group-input {
  position: relative;
  i {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: color 0.3s linear;
    color: #979797;
    font-size: 14px;
    &:hover {
      color: #e29c1a;
    }
  }
}
.select_status{
  margin-left: 15px;
}
input {
  transition: border 0.2s linear;
  background: #f6f8fa;
  &:focus {
    border: 1px solid #e7ab3c !important;
    background: #fff;
  }
}
button[type="submit"] {
  transition: all 0.2s linear;
  &:hover {
    background: #e9b961;
  }
  &:active {
    background: #eee7da;
    border: 1px solid #e7ab3c;
    color: #e29c1a;
  }
}

.info_customer {
  display: flex;
}
.info_customer p{
  margin-left: 15px;
}